@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;600&display=swap');


body{
    margin: 0px;
    padding: 0px;
}

*{
    box-sizing: border-box;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
.main{
    width: 100%;
    height: 100vh;
    background-color: #fff;
}
.logo img{
    height: 68px;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 30px;
    background-color: #fff;
    box-shadow: 2px 2px 20px rgba(90,118,253,0.13);
    z-index: 1;
    width:100%
}
nav ul{
    display: flex;
    margin: 0px;
    padding: 0px;
}
nav ul li a{
    height: 40px;
    line-height: 43px;
    margin: 9px;
    padding: 0px 30px;
    display: flex;
    font-size: 1rem;
    font-weight: 400;
    color:rgb(71, 71, 71);
    letter-spacing: 0.7px;
}
nav ul li a:hover{
    color: rgb(4, 200, 226);
}
.main-body-content{
    margin: auto;
    max-width: 70%;
    position: relative;
}
.main__text{
    width: 100%;
    color: rgb(19, 18, 18);
    position: absolute;
    top: 100px;
    transform: translate(-50% - 50%);
    text-align: center;
}
.main__text h1{
    font-size: 62px;
}
.main__text p{
    font-size: 28px;
    top: 15%;
    margin: 8px 0 40px;
    color: rgb(66, 66, 66);
}
.main__text h1 span{
    color:rgb(4, 182, 226);
}
.main__dropdown{
    position: absolute;
    top: 400px;
    left: 50%;
    transform: translate(-50%, -50%);
}
.main-dropdown__input{
    display: flex;
}
.main-dropdown-left select{
    padding: 10px;
    width: 220px;
    border: 0.5px solid grey;
    border-radius: 10px;
    font-size: 16px;
}
.main-dropdown-right select{
    padding: 10px;
    width: 220px;
    margin-left: 60px;
    border: 0.5px solid grey;
    border-radius: 10px;
    font-size: 16px;
}
.main-dropdown__button {
    position: absolute;
    top: 80px;
    left: 50%;
    transform: translate(-50%, 50%);
}
.main-dropdown__button input{
    width: 250px;
    padding: 20px 40px;
    background-color: rgb(4, 182, 226);
    color: #fff;
    font-size: 16px;
    border-radius: 40px;
    border-style: none;
    box-shadow: 0px 0px 3px 3px rgb(126,229,255);
}
.main__block{
    position: absolute;
    top: 1500px;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-bottom: 100px;
}
.main__footer{
    background-color: #262845;
    margin: auto;
    height: 400px;

}
.main__footer_top{
    margin-top: 1100px;
    display: flex;
    width: 80%;
    justify-content: center;
    align-items: center;
    
}
.footer-left{
    margin-top: -200px;
}
.footer-right{
    margin-left: 50px;
}
.footer-table{
    padding: 30px;
}
.footer-table a{
    padding: 40px;
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
}
.footer-table a:hover{
    color: rgb(4, 200, 226);
}
.main__footer_bottom{
    background-color: #1B1C30;
    margin: auto;
    height: 80px;
    text-align: left;
    color: rgb(177, 174, 174);
    display: flex;
    padding-top: 20px;
    justify-content: space-around;
}
.main__footer_bottom p{
    font-family: "Poppins", sans-serif;
    padding-bottom: 40px;
}

